body{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 216, 196);
    color: rgb(221, 216, 196);
}

h1{
    font-size: 250%;
}
  
header{
    padding: 1%;
    text-decoration: none;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: rgb(81, 59, 86);
    section{
        width: 25%;
        justify-content: space-between;
        display: flex;
        font-size: 140%;
        padding-right: 1%;
        display: flex;
    }
    li{
        padding: 4%;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: rgb(221, 216, 196);
    }
}

aside{
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 14.2%;
    left: 0;
    width: 22%;
    height: 100%;
    color: rgb(81, 59, 86);
    background-color: #cabcd7;
    border-right: 1px solid #ccc;
    a{
        color: rgb(81, 59, 86);
        font-size: 130%;
        text-decoration: none;
    }
    span{
        font-size: 130%;
    }
}

#P{
    font-size: 110%;
    color: rgb(81, 59, 86);
    margin-left: 22%;
    padding-top: 6%;
    padding-bottom: 0%;
    h1{
        color: rgb(81, 59, 86);
        font-size: 220%;
        margin: 3%;
    }
    .post{
        padding: 3%;
        padding-top: 1%;
        margin-bottom: 20p;
        background-color: #c3a1d1;
        margin: 3%;
        margin-bottom: 0%;
        overflow: hidden;
        font-size: 120%;
        h2{
            font-size: 160%;
            padding: 2%;
            margin: 0%;
        }
    }
    p{
        margin: 0%;
    }
    #FHD{
        float: right;
        width: 35%;
        margin-top: 2%;
    }
    #HP{
        margin-right: 2% ;
        width: 55%;
        float: left;
    }
    #RNB{
        margin-left: 2%;
        margin-top: 1.5%;
        width: 55%;
        float: right;
    }
    #C1{
        float: right;
        width: 18%;
        margin-left: 5%; 
    }
    #AAB{
        width: 40%;
        float: right;
    }
    #C2{
        float: right;
        width: 19%;
        margin-left: 5%; 
    }
    #CC{
        float: left;
        width: 45%;
        margin-right: 2%;
    }
    #CR{
        float: left;
        margin-right: 2%;
        width: 20%;
    }
    #post14{
        h{
            margin: 1%;
        }
        #JA{
            float: left;
            margin-right: 2%;
            width: 35%;
        }
        #JF{
            margin-left: 2%;
            float: right;
            width: 30%;
        }
        #CA{
            float: left;
            margin-right: 2%;
            width: 28%;
        }
        #excecao{
            margin-bottom: 1.5%;
        }
    }
    #post6{
        #RM{
            float: left;
            margin-right: 1.5%;
            margin-bottom: 1.5%;
            margin-top: 1.5%;
            width: 50%;
        }
        h3{
            margin: 2%;
        } 
    }
}


#infos{
    display: flex;
    background-color: #8c6b9c;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 3%;
    margin-top: 0%;
    img{
        height: 8%;
        width: 8%;
    };
    #A{
        width: 4%;
        height: 4%;
    }
}

#links{
    overflow: hidden;
    color: rgb(81, 59, 86);
    padding: 0%;
    margin: 1%;
    font-size: 120%;
    a{
        color: rgb(81, 59, 86);
        text-decoration: none;
    }
}
