body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(222, 217, 226);
    color: rgb(247, 244, 234);
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    background-color: rgb(128, 161, 212);
    h1{
        padding: 0%;
        margin: 0%;
    }
    ol{
        font-size: 130%;
        width: 25%;
        margin: 0.7%;
        display: flex;
        justify-content: space-evenly;
    }
}

sidebar{
    font-size: 130%;
    width: 27%;
    height: 100%;
    display: flex;
    position: absolute;
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(192, 185, 221);
    margin-left: 28%;
    padding-top: 5%;
}

a{
    color: rgb(247, 244, 234);
}

.pb{
    background-color: rgb(117, 201, 200);
}